{{ define "main" }}

<header class="hero">


  <div class="name-row">
<img src="/img/AlexanderBraumann2026.jpg"
           alt="Portrait of Alexander Braumann"
           class="portrait">
 <h1>Alexander<br>Braumann</h1>
 </div>

<!--
  <p class="intro">
    Statistician and mathematician working on time series,
    forecasting, econometrics and statistical modelling.
  </p>
-->

<!--
  <nav class="hero-nav">
    <a href="/research/">Research</a>
    <a href="/publications/">Publications</a>
    <a href="/posts/">Blog</a>
    <a href="/cv/">CV</a>
  </nav>
-->

</header>

<section class="home-content">
  {{ .Content }}
</section>

{{ end }}
